@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    /* background-color: #ebe534; */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(147,35,162,1) 35%, rgba(0,212,255,1) 100%);
    height:95vh;
    width:100vw;
}
header{
    width:100%;
    height:25%;
    background-color:black;
    color:yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Press Start 2P', cursive;
    font-size:2.25rem;
    background-image: url("https://d3dyfaf3iutrxo.cloudfront.net/general/upload/f3066fddb15e4e1db3c783ab28e3a558-bk_game.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.game-container{
    width:100%;
    height:70%;
    display:grid;
    grid-template:repeat(2,1fr)/repeat(3,1fr);
    gap:4%;
    padding:3%;
}
.game{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius:5%;
    padding:2%;
}
.game:hover{
    border:thin solid yellow;
}
video{
    width:90%;
    height:85%;
    border-radius: 5%;
}
.play{
    width:80%;
    height:12%;
    border-radius:8px;
    background-color: black;
    color:yellow;
    border:thin solid yellow;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Press Start 2P', cursive;
}
